*{
    margin: 0;
}
#rooms{
    text-align: center;
}
#rooms h1{
    font-size: xx-large;
    font-weight: 1500;
    font-style: oblique;
    font-family:"Indie+Flower";
    text-decoration: #ffebcd;
    text-shadow: cornsilk;
    margin-top: 50px;
    
}
#rooms h3{
    font-size: xx-large;
    font-weight: 500;
    font-style: oblique;
    font-family:"Indie+Flower";
    text-decoration: blanchedalmond;
    text-shadow: cornsilk;
    margin-top: 30px;
    
 
}

body{
    background-image: url(https://images.pexels.com/photos/7477/night-trees-stars.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
    /* background-color:black; */
}
#content1{
    float:right;
    width:33%;
    position: relative;
    margin-top: 50px;
}


#content1 img{
    display:grid;
    margin:60px;
    margin-right: 200px;
    height:185px;
    transition: .5s ease;
    backface-visibility: hidden;
  
}
#content1 img:hover{
    opacity: 0.2;
}


#content1 p:hover{
    opacity: 1;
}

#content2{
    float:right;
    width:33%;
    position:relative;
    margin-top: 50px;

}
#content2 img{
    display:grid;
    margin:60px;
    margin-right: 10px;
    margin-left: 120px;
    height:20%;
    width:auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
#content2 img:hover{
    opacity: 0.2;
}
#content3{
    float:left;
    width:33%;
    position:relative;
    margin-top: 50px;

}
#content3 img{
    display:grid;
    margin:60px;
    height: 185px;
    margin-left: 150px;
    transition: .5s ease;
    backface-visibility: hidden;
}
#content3 img:hover{
    opacity: 0.2;
}
.hh3{
    margin-right: 180vh;
    font-family: 'Comforter Brush', cursive;
    display: inline;
    
    border-radius: 20px;
    
}

nav{
    background-color: #000000;
    opacity: 80%;
    margin: 0%;
    padding: 25px;
    /* position: fixed; */
    color: rgb(255, 255, 255);
    width: 95vw;

    
    
    

}
.hh2{
    display: inline;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    font-size: small;
    margin-right: 20px;
    
}
ul {
    list-style: none;
    /* padding-left: 0px; */
  }
  footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    line-height: 1.5;
    position: absolute;
    top: 139.7vh;
    width: 99vw;
  }
  footer a {
    text-decoration: none;
    color: #eee;
  }
  a:hover {
    text-decoration: underline;
  }
  .ft-title {
    color: #fff;
    font-family: "Merriweather", serif;
    font-size: 1.375rem;
    /* padding-bottom: 0.625rem; */
    
    background-color:rgb(119, 117, 117);
    border-radius: 5px;
    margin-right: 10px;
  }
  /* Sticks footer to bottom */
 
  .container {
    flex: 1;
  }
  /* Footer main */
  .ft-main {
      /* position: absolute;
      top: 200vh;
      left: 10vw; */
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 28.8125rem /* 477px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 76.5rem /* 1240px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }
  
  /* Footer main | Newsletter form */
  form {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="eemail"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
  }
  input[type="submit"] {
    background-color: #00d188;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
  }
  /* Footer social */
  .ft-social {
    padding: 0 1.875rem 1.25rem;
  }
  .ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px rgb(0, 0, 0) solid;
    padding-top: 1.25rem;
  }
  .ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
  }
  /* Footer legal */
  .ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: rgb(0, 0, 0);
  }
  .ft-legal-list {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
  }
  .ft-legal-list li {
    margin: 0.125rem 2.625rem;
    white-space: nowrap;
  }
  /* one before the last child */
  .ft-legal-list li:nth-last-child(2) {
      flex: 1;
  }